#instructions {
    border-radius: 25px 25px 0px 0px;
    padding: 20px;
    background-color: #00000099;
}

#album-selection {
    border-radius: 0px 0px 25px 25px;
    padding: 20px;
    background-color: #00000099;
}

#album-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.arrow-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-div {
    // flex-shrink: 0;
    // max-width: 70%;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    // &:hover, &:active {
    //     background-color: #000;
    // }
    img {
        transition: all ease-in-out 0.3s;
    &:hover {
        opacity: 70%;
        }
    }
    
}

#album-information {
    // flex-shrink: 0;
    display: none;
    transition: all ease-in-out 0.5s;
}

#left-arrow, #right-arrow {
    max-width: 60px;
}

#tracklist-toggle {
    margin-top: 20px;
    margin-bottom: 10px;
}