#instructions {
    border-radius: 25px 25px 0px 0px;
    padding: 20px;
    background-color: #00000099;
}

#album-selection {
    border-radius: 0px 0px 25px 25px;
    padding: 20px;
    background-color: #00000099;
}

#album-display {
    display: flex;
    justify-content: space-around;
}

.arrow-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-div {
    // max-width: 70%;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    &:hover {
        opacity: 70%;
    }
}

#album-information {
    display: none;
    transition: all ease-in-out 0.5s;
}

#left-arrow, #right-arrow {
    max-width: 60px;
}