.click {
transition: all 0.3s ease-in-out;
    &:hover, &:active {
        cursor: pointer;
        text-shadow: #e2706d 0 0 6px;
    }
}

.small-icon {
    max-height: 20px;
    max-width: 20px;
}

#album-information {
    margin-left: 20px;
}

ul li {
    font-size: 18px;
    margin-top: 10px;
}

.red {
    color: #e2706d;
    text-shadow: #000000 2px 0 3px;
}